$APP_BACKGROUND: #272B3C;
$NAV_BAR_BACKGROUND: #3C4473;
$LEFT_PANEL_BACKGROUND :#303964;
$TABLE_ROW_LIGHT: #3C4473;
$TABLE_ROW_DARK:#2D3456;
$ACTIVE : #FCC84A;
$APPLY_BUTTON : #3FB3DF;
$GRAPH_BACKGROUND : #131731;
$CRITICAL:#B73E3E;
$MAJOR:#F88828;
$MINOR:#EBDA05;
$LEFT_PANEL_WIDTH : 80px;
$TOP_HEADER_HEIGHT : 60px;
$TABLE_BACKGROUND: #3C4473;
$DROPDOWN_BACKGROUND_COLOR : #383E5F;
$APPLY_BUTTON : #3FB3DF;
$ROW_HOVER :#8699ff;
