$APP_BACKGROUND: #272b3c;
$NAV_BAR_BACKGROUND: #3c4473;
$LEFT_PANEL_BACKGROUND: #303964;
$TABLE_ROW_LIGHT: #3c4473;
$TABLE_ROW_DARK: #2d3456;
$ACTIVE: #fcc84a;
$APPLY_BUTTON: #3fb3df;
$GRAPH_BACKGROUND: #131731;
$CRITICAL: #b73e3e;
$MAJOR: #f88828;
$MINOR: #ebda05;
$LEFT_PANEL_WIDTH: 96px;
$TOP_HEADER_HEIGHT: 60px;
$TABLE_BACKGROUND: #3c4473;
$DROPDOWN_BACKGROUND_COLOR: #383e5f;
$APPLY_BUTTON: #3fb3df;
$ROW_HOVER: #8699ff;
$MIS_BACKGROUND: #2b3254;
$MIS_CONTAINER_BACKGROUND: #363e69;
$MIS_ANALYSER_BUTTON: #4d5fc1;
$MIS_CARD_BACKGROUND: #00000033;
