@import "./global.scss";
@import "~antd/dist/antd.css";

body {
  margin: 0;
  color: #ffffff !important;
  background-color: $APP_BACKGROUND !important;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.connectM-button {
  color: #ffffff !important;
  &:hover {
    color: $ACTIVE !important;
    border-bottom: 1px solid $ACTIVE !important;
  }
}

.connectM-button-active {
  color: $ACTIVE !important;
  border-bottom: 1px solid $ACTIVE !important;
}

.ant-layout-header {
  padding: 0px 20px !important;
}

.ant-typography {
  color: #ffffff;
}

.container-lg {
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  min-width: calc(100vw - 96px);
  max-width: calc(100vw - 96px);
  height: 1px;
  width: 1px;
  position: fixed;
  left: 96px;
}