@import "../../global.scss";
@import "~antd/dist/antd.css";
.connectm-MisContent{
    border: 1px solid rgb(192, 178, 178);
    min-height: calc(100vh - (60px));
    max-height: calc(100vh - (60px));
    min-width: calc(100vw - 80px);
    max-width: calc(100vw - 80px);
    position: absolute;
    left: 80px;
}