<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209269799408-02qsv8c9haqfff2j3uukj5kfve15vjuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209269799408-02qsv8c9haqfff2j3uukj5kfve15vjuu</string>
	<key>API_KEY</key>
	<string>AIzaSyD5tCbsl_5oVjPsV5kpwtIG_fn8gMTOwVY</string>
	<key>GCM_SENDER_ID</key>
	<string>209269799408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.motovolt.motovoltapp</string>
	<key>PROJECT_ID</key>
	<string>motovolt-182e5</string>
	<key>STORAGE_BUCKET</key>
	<string>motovolt-182e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209269799408:ios:4648c149562b851e638535</string>
</dict>
</plist>