@import "../../global.scss";
@import "~antd/dist/antd.css";

.connectm-RandDTrends {
    // border: 1px solid rgb(192, 178, 178);
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;

    .trends-header {
        display: flex;
        justify-content: space-between;
        background-color: $APP_BACKGROUND;
        height: 34px;
        align-items: center;
    }
    .recharts-layer.recharts-brush-traveller{
        cursor: pointer !important;
      }

    // .trends-graph {
    //     // min-height: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     background-color: $APP_BACKGROUND;

    //     .graph {
    // height: 100%;
    // position: relative;
    // float: left;

    .title-header {
        background-color: $TABLE_ROW_DARK;
        font-size: 12px;
        height: 32px;
        display: flex;
        align-items: center;
        text-align: left;
    }

    // .line-chart {
    //     font-size: 10px;
    // }

    // .recharts-responsive-container {
    //     font-size: 8px;
    //     background-color: $GRAPH_BACKGROUND;
    // }

    //     .total-alerts {
    //         border-top-left-radius: 10px;
    //         border-top-right-radius: 10px;
    //     }
    // }
    // }
}

.recharts-responsive-container {
    font-size: 8px;
    background-color: $GRAPH_BACKGROUND;
}

.trend-dropdown-active {
    color: $ACTIVE;
    border-bottom: 1px solid #fcc84a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto" !important;
}