@import "../../global.scss";
@import "~antd/dist/antd.css";

.connectm-RandDTrends {
    // border: 1px solid rgb(192, 178, 178);
    display: flex;
    flex-direction: column;
    color: white;
    max-height: 100%;
    .trends-header {
        display: flex;
        justify-content: space-between;
        background-color: $APP_BACKGROUND;
        height: 34px;
        align-items: center;
    }

    .trends-graph {
        min-height: 100%;
        display: flex;
        flex-direction: column;

        .graph {
            min-height: 100%;
            position: relative;
            float: left;
            background-color: $GRAPH_BACKGROUND;

            .titleheader {
                background-color: $TABLE_ROW_DARK;
                font-size: 12px;
                height: 32px;
                display: flex;
                align-items: center;
            }
        }
    }
}

.trend-dropdown-active {
    color: $ACTIVE;
    border-bottom: 1px solid #fcc84a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto" !important;
}

// .connectm-RandDTrends .graph {
//     display: flex;
//     background-color: $GRAPH_BACKGROUND;
//     align-items: center;
//     height: 150px;
// }