@import "../../global.scss";
@import "~antd/dist/antd.css";

.connectm-Tabs {
    padding-top: 24px;
    .tab-buttons {
        background-color: $TABLE_ROW_DARK;
        margin-right: 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .tab-active {
        border-bottom: 1px solid $ACTIVE;
        font-weight: 600;
    }
}

.site-card-wrapper {
    // padding: 8px;
    background: #3C4473;
  }

.ant-row.col {
    background-color: $TABLE_ROW_DARK;
    color: white;
    margin: none;
    // padding-left: 24px;
    // padding-top: 16px;
}


.container-mc {
    padding-right: 24px;
    min-height: calc(100vh - (60px+60px));
    background-color: $APP_BACKGROUND;
}