@import "../../global.scss";

.ag-theme-alpine {
    justify-content: center;
    align-self: center;
    color: white;
    flex: auto;


    .ag-row {
        vertical-align: middle;
        text-align: center;
        justify-content: center;


        &:hover {
            flood-opacity: 0%;
            border: 1px solid white;

        }
    }

    .ag-row-even {
        /* use theme parameters where possible */
        background: $TABLE_ROW_DARK;


    }

    .ag-row-odd {


        /* use theme parameters where possible */
        background-color: $TABLE_ROW_LIGHT;
    }

}

.ag-header-cell-label {
    display: flex;
    justify-content: center;
    background-color: $TABLE_ROW_LIGHT;
}

// .ag-header-cell-label .ag-header-cell-text {
//     /* Force the width corresponding at how much width
//     we need once the text is laid out vertically */
//     width: 30px;
//     transform: rotate(90deg);
//     margin-top: 50px;
//     /* Since we are rotating a span */
//     display: inline-block;
// }