@import "../../global.scss";
@import "~antd/dist/antd.css";

.table-row-light {
    background: $TABLE_ROW_DARK;

    &:hover {
        color: $ACTIVE !important;
        border-left: 1px solid $ACTIVE !important;
        opacity: 90%;
    }
}

.table-row-dark {
    background: $TABLE_ROW_LIGHT;

    &:hover {
        color: $ACTIVE !important;
        border-left: 1px solid $ACTIVE !important;
        opacity: 90%;
    }
}

.ant-table-thead {
    tr {
        th {
            background: $TABLE_ROW_LIGHT !important;
        }
    }

    .fa-arrow-down {
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        transition: transform 1ms linear;
    }

    .fa-arrow-down.open {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        transition: transform 1ms linear;
    }
}

.ant-table-cell {
    cursor: pointer;
    text-align: center;
    color: white;

    .rotate {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg);
        transition: transform 1ms linear;
    }
}

.ant-table-tbody>tr:hover>td {
    background: none;
    color: black;
}

table,
tr,
td {
    border: none !important;
    font-size: 12px;
}

table,
th {
    border: none !important;
}

.paginate-dropdown {
    padding-right: "2px";
    width: 80;
    position: fixed;
    left: 10px;
}