@import "../../global.scss";
@import "~antd/dist/antd.css";

.table-row-light {
    background-color: $TABLE_ROW_DARK;
}

.table-row-dark {
    background-color: $TABLE_ROW_LIGHT;
}

.ant-table-thead {

    tr {
        th {
            background-color: $TABLE_ROW_LIGHT !important;
            background-color: red;
        }
    }

    .fa-arrow-down {
        transform: rotate(0deg);
        transition: transform 1ms linear;
    }

    .fa-arrow-down.open {
        transform: rotate(180deg);
        transition: transform 1ms linear;
    }
}




.ant-table-cell {
    cursor: pointer;
    text-align: center;
    color: white;
}

.ant-table-tbody>tr:hover>td {
    background: none;
    color: black;
}

table,
tr,
td {
    border: none !important;
    font-size: 12px;
}

table,
th {
    border: none !important;
}