@import "../../global.scss";
@import "~antd/dist/antd.css";

.table-row-light {
    cursor: pointer;
    background: $TABLE_ROW_DARK;
}

.table-row-dark {
    cursor: pointer;
    background: $TABLE_ROW_LIGHT;
}

.ant-table-thead > tr > th {

    background: $TABLE_ROW_LIGHT !important;
    text-align: left;
}

.ant-table-row {
    &:hover {
        background-color: $ROW_HOVER !important;
    }
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}

td.ant-table-column-sort {
    background: none !important;
}

.ant-pagination {
    color: #ffffff !important;
}

.ant-pagination-item > a {
    color: #ffffff !important;
}

.ant-pagination-item-active {
    background: none !important;
    border: none !important;
}

.container {
    height: 100%;
    width: 100%;
    padding-right: 20px;
    // height: calc(100% - 250px);
    // border: 1px solid red;
    .ant-table table {
        overflow: hidden !important;
        text-indent: 10px;
    }

    .ant-table {
        overflow: hidden !important;
        background-color: transparent;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .table-body {
        zoom: 0.9;
        overflow: hidden !important;
    }
    .ant-table-cell-scrollbar {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .pagination-footer {
        // border: 1px solid yellow;
        position: relative;
        margin-top: 25px;
        display: flex;
        justify-content: flex-end;

        .nav-button {
            .icon {
                width: 24px;
                height: 24px;
            }
        }

        .select-button {
            border-radius: 3px;
            overflow: hidden;
            appearance: none;
            background-color: transparent;
            border-radius: 5px;
            width: 60px;
            height: 24px;
        }

        .ant-select-selector {
            height: 24px;
            border: none !important;
        }

        .ant-select-selection-item {
            line-height: 27px;
        }

        .ant-select-arrow svg {
            color: black;
        }


        .spacer {
            width: 30px;
        }
    }
}

.header-sorter {
    display: flex;
    justify-content: center;
    float: left;
    cursor: pointer;
}

.alert-down-circle {
    transform: rotate(0deg);
    transition: transform 1ms linear;
    display: flex;
    justify-content: center;
    padding: 2px;
    float: right;
    margin-left: 10px;
}

.alert-down-circle.open {
    transform: rotate(180deg);
    transition: transform 1ms linear;
    display: flex;
    justify-content: center;
    padding: 2px;
    float: right;
    margin-left: 10px;
}

.ant-table-column-sorter-full {
    display: none;
}

.severity-color-major > circle {
    fill: $MAJOR;
}

.severity-color-minor > circle {
    fill: $MINOR;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    padding: 8px 2px;
}
