@import "../../global.scss";
@import "~antd/dist/antd.css";

.container-battery {
    padding-right: 24px;
    // max-height: 100vh;
    // min-height: 90%;
    min-height: calc(100vh - (60px + 32px));
    max-height: calc(100vh - (60px + 32px));
    background-color: $APP_BACKGROUND;
    border: 1px solid red;
    padding-left: 24px;
    //     min-height: calc(100vh-60px);
    .battery-top {
        // height: 1px;
        border: 1px solid green;
        background-color: $TABLE_ROW_DARK;
        color: white;
        // padding: 24px;
        min-height: 80%;
        .left-body {
            height: 80%;
            background: #3c4473;
            padding: 8px;
            .card-wrapper {
                padding-left: 24px;
                height: 64;
                background: #2d3456;
            }
        }
        .right-body {
            height: 80%;
            background: #3c4473;
            display: flex;
            flex-direction: row;
            padding: 16px;
            .table {
                width: 60%;
            }
            .health {
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .health-card {
                    background: #2d3456;
                    display: flex;
                    flex-direction: column;
                }

                .battery-health-circle {
                    width: 150px;
                    height: 150px;
                    background: #2d3456;
                    border-radius: 75px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .battery-bottom {
        // padding-top: 25px;
        border: 1px solid blueviolet;
        background-color: $TABLE_ROW_DARK;
        color: white;
        // padding: 24px;
        .body {
            background: #3c4473;
            padding: 8px;
            height: 30vh;
        }
    }
}
