@import "../../../../global.scss";
@import "~antd/dist/antd.css";

.connectm-AlertDetailGraph {
  width: 79%;
  height: 100%;
  background-color: $TABLE_ROW_DARK;
  border-radius: 10px;
  // padding: 10px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1%;

  .connectm-header {
    height: 15%;
    display: flex;
    align-items: center;
  }

  .top-graph-container {
    .recharts-xAxis .recharts-cartesian-axis-tick:nth-last-child(-n + 2) {
      display: none;
    }
  }

  .bottom-graph-container {
    .recharts-xAxis .recharts-cartesian-axis-tick:nth-last-child(-n + 6) {
      display: none;
    }
  }

  .recharts-responsive-container {
    display: flex;
    justify-content: center;
    // font-size: 12px;
    // background-color: $TABLE_ROW_DARK;

    .recharts-rectangle {
      height: 40px;
      box-sizing: border-box;
      border: 1px solid #ffffff;

      &:hover {
        border: 1px solid #ffffff;
        overflow: hidden;
      }
    }
    .connectm-AlertDetailGraph .recharts-responsive-container .recharts-tooltip-wrapper {
      top: 0;
      // width: 0;
    }
  }
  .recharts-text.recharts-cartesian-axis-tick-value {
    font-size: 11px;
    font-weight: 700;
  }
}

.custom-tooltip {
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
  position: relative;
  top: 0;
  // left: 10;
  float: left;
  z-index: 10;
}
.connectm-AlertDetailGraph.voltage-deviation {
  .recharts-responsive-container {
    // font-size: 12px;
    background-color: unset !important;
  }

  .normal-operating-voltage-text {
    font-size: 12px;
    text-align: center;
    margin: 16px;
    overflow: hidden;
  }

  .voltage-deviation-bottom,
  .voltage-deviation-top {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 95%;
    flex-direction: row;
    align-items: center;
  }
}
