@import "../../global.scss";
@import "~antd/dist/antd.css";

.left-panel {
    height: 100vh;
    background-color: $LEFT_PANEL_BACKGROUND !important;
    max-width: $LEFT_PANEL_WIDTH;
    min-width: $LEFT_PANEL_WIDTH;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12%;
        margin-bottom: 25%;
    }

    .tab-icons {
        &:hover {
            border-left: 1px solid $ACTIVE !important;
            background-color: rgba($color: #eff0f9eb, $alpha: 0.4) !important;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;
        border-left: 1px solid $LEFT_PANEL_BACKGROUND;
        height: 74px;
        justify-content: center;
    }
    .option-clicked {
        border-left: 1px solid $ACTIVE !important;
        background-color: rgba($color: #eff0f9eb, $alpha: 0.4) !important;
        height: 74px;
        justify-content: center;
    }
}
