@import "../../global.scss";
@import "~antd/dist/antd.css";
.left-panel{
    height: 100vh;
    background-color: $LEFT_PANEL_BACKGROUND !important;
    max-width: $LEFT_PANEL_WIDTH;
    min-width: $LEFT_PANEL_WIDTH;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}