@import "../../../global.scss";
@import "~antd/dist/antd.css";

.connectm-AlertPastTable {
    // height: 40%;
    background-color: #272b3c;
    border-radius: 2%;
    // padding: 10px;
    color: white;
    justify-content: space-between;

    .connectm-AlertPastTable-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 16%;
    }

    .table-row-light {
        background: $TABLE_ROW_DARK;
    }

    .table-row-dark {
        background: $TABLE_ROW_LIGHT;
    }

    .ant-table-thead {
        tr {
            th {
                border: 1px solid yellow;
                position: sticky;
                top: 0;
                z-index: 1;
                background: $TABLE_ROW_LIGHT !important;
                text-align: left;
                font-size: 14px;
            }
        }
    }

    .table-body {
        // display: block !important;
        // max-height: 350px;

        //use media screen size to set height
        // height: 10vh !important; //change table height here
        // for test scrren
        // height: 100%;
        overflow-y: hidden;
        /* Trigger vertical scroll    */
        overflow-x: auto;
    }

    .ant-table table {
        // height: calc(100% - 25px);

        overflow: hidden !important;
        text-indent: 10px;
        // border-bottom-left-radius: 10px;
        // border-bottom-right-radius: 10px;
        // height: 450px;
    }
    .ant-table-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .ant-table-body {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    //curve edges bg
    .ant-table {
        background-color: transparent;
    }

    .pagination-footer {
        // border: 1px solid yellow;
        padding-top: 1%;
        display: flex;
        justify-content: flex-end;

        .nav-button {
            .icon {
                width: 24px;
                height: 24px;
            }
        }

        .select-button {
            border-radius: 3px;
            overflow: hidden;
            appearance: none;
            background-color: transparent;
            border-radius: 10px 10px 10px 10px;
            width: 60px;
            .ant-select-selector {
                height: 24px;
                border: none !important;
            }
            .ant-select-selection-item {
                line-height: 24px;
            }
            .ant-select-arrow svg {
                color: black;
            }
        }
        // .select-button>div>span {
        //     }

        .spacer {
            width: 30px;
        }
    }
}

table,
tr,
td,
th {
    border: none !important;
    font-size: 12px;
    color: #ffffff !important;
}

.ant-table-row {
    &:hover {
        background-color: $ROW_HOVER !important;
    }
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}

.header-sorter {
    display: flex;
    justify-content: center;
    float: left;
    cursor: pointer;
}

.alert-down-circle {
    transform: rotate(0deg);
    transition: transform 1ms linear;
    display: flex;
    justify-content: center;
    padding: 2px;
    float: right;
    margin-left: 10px;
}

.alert-down-circle.open {
    transform: rotate(180deg);
    transition: transform 1ms linear;
    display: flex;
    justify-content: center;
    padding: 2px;
    float: right;
    margin-left: 10px;
}
