@import "../../../global.scss";
@import "~antd/dist/antd.css";

.connectm-Tabs {
    .tab-buttons {
        background-color: $TABLE_ROW_DARK;
        margin-right: 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        @media screen and (min-width: 1600px) {
            height: 51px;
        }
    }
    .tab-active {
        border-bottom: 2px solid $ACTIVE;
        font-weight: 600;
    }
}
