@import "../../../global.scss";
@import "~antd/dist/antd.css";

.connectm-AlertDetailSingle {
    width: 20%;
    height: 100%;
    background-color: $TABLE_ROW_DARK;
    border-radius: 2%;
    padding: 10px;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: 1600px) {
        width: 370px;
    }
    .single-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .single-cell-left {
            width: 40%;
            font-weight: 700;
            @media screen and (min-width: 1600px) {
                font-size: 16px;
            }
            display: flex;
            justify-content: flex-end;
            padding-right: 4%;
        }
        .single-cell-right {
            width: 60%;
            font-weight: 400;
            @media screen and (min-width: 1600px) {
                font-size: 16px;
            }
            .detail-link {
                color: #ffffff;
                text-decoration: underline;
                &:hover {
                    color: $APPLY_BUTTON;
                }
            }
        }
        .toolate {
            color: red !important;
        }
        .clear-alert-button {
            background-color: $APPLY_BUTTON !important;
            border: none !important;
            height: 25px;
            padding: 5px;
            padding-top: 3px;
            font-size: 12px;
            // margin-left: 2.5%;
            // overflow: hidden;
            margin-left: 5%;
            border-radius: 10px;
            .ant-typography.clear-alert-text {
                font-size: 14px;
            }
            @media screen and (min-width: 1600px) {
                width: 140px;
                height: 40px;
                .ant-typography.clear-alert-text {
                    font-size: 16px;                }
            }
        }
    }
}

.clear-alert-container {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    .ant-dropdown-menu {
        background-color: $APP_BACKGROUND !important;
    }

    .ant-dropdown-menu-item {
        background-color: $APP_BACKGROUND !important;
        flex-direction: column;
    }
    textarea.ant-input {
        background-color: $DROPDOWN_BACKGROUND_COLOR;
        color: #ffffff;
        border: none;
    }
    .dropdown-clear-alert-button {
        margin-top: 3%;
        background-color: $APPLY_BUTTON !important;
        border: none !important;
    }
}
