@import "../../global.scss";
@import "~antd/dist/antd.css";
.connectm-RandDHomeContent {
    // border: 1px solid rgb(192, 178, 178);
    // min-height: calc(100vh - (60px + 40px + 15px));
    // max-height: calc(100vh - (60px + 40px + 15px));
    // padding: 24px 24px;
    min-height: calc(100vh - (60px + 40px + 15px + 48px)); //48px for margin
    max-height: calc(100vh - (60px + 40px + 15px + 48px));
    min-width: calc(100vw - (96px + 48px)); //48px for margin
    max-width: calc(100vw - (96px + 48px));
    height: 1px;
    width: 1px;
    margin: 24px 24px;
    display: flex;
    justify-content: space-between;
    .connectM-left {
      width: 75%;
              // border: 1px solid rgb(192, 178, 178);
        border-radius: 8px;
    }
    .connectM-right {
        background-color: $TABLE_ROW_DARK;
        width: 25%;     
        // border: 1px solid rgb(192, 178, 178);
        border-radius: 8px;
    }
}
