@import "../../global.scss";
@import "~antd/dist/antd.css";

.sub-header {
    // border: 1px solid rgb(192, 178, 178);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24px;
    margin-top: 15px;
    button {
        border-bottom: 1px solid #ffffff;
    }
    .place {
        color: #ffffff !important;
    }
}

.connectM-dropDown {
    color: #ffffff;
    width: 175px;
    min-height: 32px;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 5px;
    font-family: "Roboto" !important;
    &:hover {
        color: $ACTIVE !important;
        border-bottom: 1px solid $ACTIVE !important;
        .dropdown-typography {
            color: $ACTIVE !important;
        }
        .dropdown-svg-fill > g > g > g > path {
            fill: $ACTIVE !important;
        }
        .dropdown-svg-fill-location > g :first-child {
            stroke: $ACTIVE !important;
        }
        .dropdown-svg-fill-timeframe > g > g > path{
            fill: $ACTIVE !important;
        }
    }
}

.connectM-dropdown-active {
    color: $ACTIVE !important;
    border-bottom: 1px solid $ACTIVE !important;
    .dropdown-svg-fill-active > g > g > g > path {
        fill: $ACTIVE !important;
    }
    .dropdown-svg-fill-location-active > g :first-child {
        stroke: $ACTIVE !important;
    }
    .dropdown-svg-fill-timeframe-active > g > g > path {
        fill: $ACTIVE !important;
    }
    .typography-active {
        color: $ACTIVE !important;
    }
}


.pair {
    display: flex;
    align-items: center;
}

.ant-dropdown-open {
    .flip {
        transform: rotate(180deg) !important;
    }
}

.ant-dropdown-menu {
    background-color: $DROPDOWN_BACKGROUND_COLOR !important;
}

.ant-dropdown-menu-item {
    color: #ffffff !important;
    display: flex;
}

.dropdown-sub-item {
    padding-left: 25%;
}

.ant-dropdown-menu-item-active {
    background-color: $ROW_HOVER !important;
}

//need to change
.search-background-color {
    background-color: $APP_BACKGROUND !important;
    color: #ffffff !important;
    margin-left: 2px;
    // border-bottom: 1px solid #ffffff !important;
}

input {
    background-color: $APP_BACKGROUND !important;
    color: #ffffff !important;
}

.ant-input-affix-wrapper {
    color: #ffffff !important;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
}
.ant-input-affix-wrapper-focused {
    color: #ffffff !important;
    border: none !important;
    border-color: $APP_BACKGROUND !important;
    outline: none !important;
    border-bottom: 1px solid #ffffff !important;
    box-shadow: none !important;
}

.apply-button {
    background-color: $APPLY_BUTTON !important;
    border: none !important;
    margin-left: 20px;
}

.reset-button {
    background-color: $APP_BACKGROUND !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    margin-left: 5px;
}

.dropdown-typography {
    color: #ffffff !important;
    margin-left: 10px;
    white-space: nowrap;
}

// .connectM-dropdown-selected {
//     color: #ffffff !important;
//     font-family: "Roboto" !important;
//     &:hover {
//         color: $ACTIVE !important;
//         border-bottom: 1px solid $ACTIVE !important;
//         .typography-active {
//             color: $ACTIVE !important;
//         }
//         .dropdown-svg-fill > g > g > g > path {
//             fill: $ACTIVE !important;
//         }
//         .dropdown-svg-fill-location > g > path {
//             stroke: $ACTIVE !important;
//         }
//     }
// }

.ant-dropdown-menu-item-disabled {
    cursor: pointer !important;
    background-color: $DROPDOWN_BACKGROUND_COLOR !important;
}