@import "../../global.scss";
@import "~antd/dist/antd.css";

.sub-header {
    // border: 1px solid rgb(192, 178, 178);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    button {
        border-bottom: 1px solid #ffffff;
    }
    .place {
        color: #ffffff !important;
    }
    .sub-header-left {
        width: 72%;
        display: flex;
        padding-left: 24px;
    }
    .sub-header-right {
        width: 25%;
        padding-left: 1%;
    }
}

.connectM-dropDown {
    color: #ffffff;
    width: 22%;
    min-height: 32px;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-left: 0.4%;
    font-family: "Roboto" !important;

    &:hover {
        color: $ACTIVE !important;
        border-bottom: 1px solid $ACTIVE !important;
        .dropdown-typography {
            color: $ACTIVE !important;
        }
        .dropdown-svg-fill > g > g > g > path {
            fill: $ACTIVE !important;
        }
        .dropdown-svg-fill-location > g :first-child {
            stroke: $ACTIVE !important;
        }
        .dropdown-svg-fill-timeframe > g > g > path {
            fill: $ACTIVE !important;
        }
    }
}

.connectM-dropdown-active {
    color: $ACTIVE !important;
    border-bottom: 1px solid $ACTIVE !important;
    .dropdown-svg-fill-active > g > g > g > path {
        fill: $ACTIVE !important;
    }
    .dropdown-svg-fill-location-active > g :first-child {
        stroke: $ACTIVE !important;
    }
    .dropdown-svg-fill-timeframe-active > g > g > path {
        fill: $ACTIVE !important;
    }
    .typography-active {
        color: $ACTIVE !important;
    }
}

.pair {
    display: flex;
    align-items: center;
}

.ant-dropdown-open {
    .flip {
        transform: rotate(180deg) !important;
    }
}

.ant-dropdown-menu {
    background-color: $DROPDOWN_BACKGROUND_COLOR;
}

.ant-dropdown-menu-item {
    color: #ffffff !important;
    display: flex;
}

.dropdown-sub-item {
    padding-left: 25%;
}

.location-dropdown-sub-item {
    padding-left: 10%;
}

.ant-dropdown-menu-item-active {
    background-color: $ROW_HOVER !important;
}

//search
//need to change
.search-background-color {
    background-color: $APP_BACKGROUND !important;
    color: #ffffff !important;
    min-height: 32px;
    margin-left: 0.2%;
    input {
        background-color: $APP_BACKGROUND !important;
        color: #ffffff !important;
    }

    .ant-input-affix-wrapper {
        color: #ffffff !important;
        border: none !important;
        border-bottom: 1px solid #ffffff !important;
    }
    .ant-input-affix-wrapper-focused {
        color: #ffffff !important;
        border: none !important;
        border-color: $APP_BACKGROUND !important;
        outline: none !important;
        border-bottom: 1px solid $ACTIVE !important;
        box-shadow: none !important;
        .ant-input-prefix {
            color: $ACTIVE !important;
        }
    }
}

.search-background-color-active {
    background-color: $APP_BACKGROUND !important;
    color: #ffffff !important;
    min-height: 32px;
    margin-left: 0.2%;
    input {
        background-color: $APP_BACKGROUND !important;
        color: $ACTIVE !important;
    }
    .ant-input-affix-wrapper {
        color: #ffffff !important;
        border: none !important;
        border-bottom: 1px solid $ACTIVE !important;
    }
    .ant-input-affix-wrapper-focused {
        color: #ffffff !important;
        border: none !important;
        border-color: $APP_BACKGROUND !important;
        outline: none !important;
        border-bottom: 1px solid $ACTIVE !important;
        box-shadow: none !important;
        .ant-input-prefix {
            color: $ACTIVE !important;
        }
    }
    .ant-input-prefix {
        color: $ACTIVE !important;
    }
}

//search
.apply-button {
    background-color: $APPLY_BUTTON !important;
    border: none !important;
    margin-left: 2.5%;
}
//should be inside
.ant-btn-sm {
    font-size: 10px !important;
    border-radius: 7px !important;
}
.reset-button {
    background-color: $APP_BACKGROUND !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
    margin-left: 5px;
}

.dropdown-typography {
    color: #ffffff !important;
    margin-left: 10px;
    white-space: nowrap;
}

.ant-dropdown-menu-item-disabled {
    cursor: pointer !important;
    background-color: $DROPDOWN_BACKGROUND_COLOR !important;
}

.connectM-DatePicker-container {
    display: flex;
    flex-direction: column;
    .datepicker-text-pair {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .ant-picker {
        padding: 4px 0px 4px 11px;
    }
    .ant-picker-input > input {
        color: #ffffff;
        font-size: 10px;
        min-width: 100px !important;
    }
    .ant-picker-input {
        border-bottom: 1px solid #ffffff;
        font-size: 10px;
    }
    .ant-picker-suffix {
        color: #ffffff;
    }
    .ant-picker-clear {
        color: #ffffff;
        background: $DROPDOWN_BACKGROUND_COLOR !important;
    }
    .apply-button-datepicker {
        background-color: $APPLY_BUTTON !important;
        border: none !important;
        margin-left: 50%;
        margin-top: 10px;
    }
}

.ant-picker-panel-container {
    background-color: $DROPDOWN_BACKGROUND_COLOR !important;
    .ant-picker-header {
        color: #ffffff !important;
    }
    .ant-picker-header-super-prev-btn {
        color: #ffffff !important;
    }
    .ant-picker-header-prev-btn {
        color: #ffffff !important;
    }
    .ant-picker-header-super-next-btn {
        color: #ffffff !important;
    }
    .ant-picker-header-next-btn {
        color: #ffffff !important;
    }
}
.ant-picker-footer {
    display: none;
}
.ant-picker-panel {
    border: none;
}

// .ant-picker-cell ant-picker-cell-in-view ant-picker-cell-today ant-picker-cell-selectedf
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    border-radius: 50%;
    &:hover {
        background-color: none !important;
    }
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border: none;
}

.ant-picker-cell-inner {
    &:hover {
        background-color: $ROW_HOVER !important;
    }
}
