@import "../../../global.scss";
@import "~antd/dist/antd.css";

.container-battery {
    padding-right: 24px;
    padding-bottom: 70px;
    height: 1px;
    min-height: calc(100vh - (60px + 32px));
    max-height: calc(100vh - (60px + 32px));
    background-color: $APP_BACKGROUND;
    border: 1px solid red;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    .battery-top {
        .recharts-responsive-container {
            background-color: #3c4473;
        }
        margin: 0 !important;
        padding-top: 8px; //class header-title padding
        // height: 1px;
        // border: 1px solid green;
        background-color: $TABLE_ROW_DARK;
        color: white;
        // padding: 24px;
        min-height: 60%;
        .left-body {
            background: #3c4473;
            padding: 8px;
            height: 1px;
            min-height: 90%;
            .card-wrapper {
                padding-left: 24px;
                min-height: 10%;
                background: #2d3456;
                margin-top: 14px;
            }
        }
        .right-body {
            background: #3c4473;
            display: flex;
            flex-direction: row;
            padding: 16px 16px 0px 16px;
            min-height: 90%;
            .table {
                width: 60%;
            }
            .health {
                margin-left: 20px;
                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .health-card {
                    background: #2d3456;
                    display: flex;
                    flex-direction: column;
                    padding: 20px !important;
                    border-radius: 5px;
                }

                .battery-health-circle {
                    width: 160px;
                    height: 160px;
                    background: #2d3456;
                    border-radius: 90px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .battery-bottom {
        .recharts-responsive-container {
            background-color: #3c4473;
        }
        padding-top: 8px; //class header-title padding
        margin: 0 !important;
        // padding-top: 25px;
        // border: 1px solid blueviolet;
        background-color: $TABLE_ROW_DARK;
        color: white;
        // padding: 24px;
        .body {
            background: #3c4473;
            padding: 8px;
            height: 30vh;
            border-radius: 5px;
        }
    }
}
