@import "../../global.scss";
@import "~antd/dist/antd.css";

.web-content {
    max-height: 100vh;
    background-color: $APP_BACKGROUND;

    .content {
        max-height: calc(100%-100px);
    }
}
