.connectm-AlertDetailGraph {
    @media screen and (min-width: 1450px) {
        width: calc(99% - 370px) !important;
    }
    .connectm-header {
        .graph-header-text {
            color: #ffffff;
              font-size: 24px !important;
        }
    }
    .recharts-legend-item .recharts-legend-item-text {
        font-size: 12px !important;
    }
    .recharts-text.recharts-label {
        font-size: 11px !important;
        font-weight: 700;
    }

    .alert-graph-container {
        margin-bottom: 24px;
    }
}
