@import "../../../global.scss";
@import "~antd/dist/antd.css";

.ant-row.customer {
    background-color: $TABLE_ROW_DARK;
    color: white;
    padding-left: 24px;
    // padding-top: 16px;
}

.container-customer {
    padding-left: 80px;
    padding-right: 24px;
    padding-top: 24px;
    min-height: calc(100vh - (60px + 60px));
    // height: 100%;
    background-color: $TABLE_ROW_DARK;
}
