@import "../../../../global.scss";

.analyser-header {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      padding: 8px;

      .header {
            .battery-dropDown {
                  display: flex;
                  align-items: center;
                  /* justify-content: space-between; */
                  cursor: pointer;
                  border-bottom: 1px solid #fcc84a !important;
            }

            .vehicle-dropDown {
                  display: flex;
                  align-items: center;
                  /* justify-content: space-between; */
                  cursor: pointer;
                  border-bottom: 1px solid #fcc84a !important;
            }
      }

      .header.start-time {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 4px;
            .text-pair.right {
                  background: $MIS_CARD_BACKGROUND;
            }
      }

      .header.end-time {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 4px;

            .text-pair.right {
                  background: $MIS_CARD_BACKGROUND;
            }
      }

      .header.grid-selector {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 4px;
            .grid-pair {
                  text-align: center;
                  cursor: pointer;
            }
      }
}
