@import "../../../global.scss";
@import "~antd/dist/antd.css";

.site-card-wrapper {
    // padding: 8px;
    background: #3c4473;
}

.ant-row.col {
    background-color: $TABLE_ROW_DARK;
    color: white;
    margin: none;
    // padding-left: 24px;
    // padding-top: 16px;
}

.container-mc {
    padding-right: 24px;
    min-height: calc(100vh - (60px+60px));
    background-color: $APP_BACKGROUND;
}
