@import "../../global.scss";
@import "~antd/dist/antd.css";

.home-content {
    max-height: 100vh;
    min-height: calc(100vh - 60px);
    min-width: calc(100vw - 80px);
    max-width: calc(100vw - 80px);
    position: absolute;
    left: 80px;

    // .content {
    //     max-height: calc(100%-100px);
    // }
}