@import "../../global.scss";
@import "../../index.scss";

.filter-group {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.autocomplete-module-dropdown.ant-input-affix-wrapper {
    background-color: white;
    color: #ffffff;
    &:hover {
        background-color: none !important;
    }
    .ant-select-item-option-selected {
        background-color: grey;
    }
}
// .ant-dropdown-menu {
//   background-color: red !important;
// }

.search-module-color-active {
  background-color: $APP_BACKGROUND;
  color: #ffffff ;
  max-height: 40px;
  min-height: 40px;
  margin-left: 0.2%;
  margin-right: 20px; //need to recheck
  @media screen and (min-width: 1450px) {
      min-height: 40px;
  }
  input {
      background-color: $APP_BACKGROUND;
      color: $ACTIVE;
  }
  .ant-input-affix-wrapper {
      color: $ACTIVE;
      border: none !important;
      border: 2px solid white;
      border-radius: 24px;
  }
  .ant-input-affix-wrapper-focused {
      color: $ACTIVE;
      border: none !important;
      border-color: white;
      outline: none !important;
      border: 2px solid white;
      border-radius: 12px;
      box-shadow: none !important;
      .ant-input-prefix {
          color: $ACTIVE;
      }
  }
  .ant-input-prefix {
      color: $ACTIVE;
  }
  .ant-select-selection-search-input .anticon svg{
    fill: $ACTIVE;
  }
}
.customer-care{
  .customer-table {
    display: inline-block;
    height: 94%;
    width: 98%;
    margin-top: 20px;
    overflow: auto !important;
    background: #E5E5E5;
    .ant-table {
      background-color: transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    table {
      background: #E5E5E5;
      color: black
    }
    table th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 3;
      font-size: 16px;
      font-weight: 600;
      white-space: nowrap;
    }
    tbody td {
      z-index: 1;
      font-size: 14px;
      white-space: nowrap;
      color: black;
    }
    .table-row-light {
      cursor: pointer;
      background: #E5E5E5;
    }

    .table-row-dark {
      cursor: pointer;
      background:  rgba(0, 0, 0, 0.05);
    }

    .ant-table-thead > tr > th {
      background: #FFFFFF;
      text-align: left;
      z-index: 3;
      color: #3F4B81;
    }

    .ant-table-row {
      &:hover {
        background-color: #B5BEE8;
      }
    }

    .ant-table-tbody > tr.ant-table-row:hover > td {
      background: none !important;
    }

    td.ant-table-column-sort {
      background: none !important;
    }

    .ant-pagination {
      color: #ffffff !important;
    }

    .ant-pagination-item > a {
      color: #ffffff !important;
    }

    .ant-pagination-item-active {
      background: none !important;
      border: none !important;
    }
    .ant-table-placeholder > td {
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}