// @import "../../../global.scss";
#center {
    height: calc(100% - 25px);
    overflow: hidden !important;
    margin: 0;
    flex-grow: 1;
}

// .ag-body-viewport {
//     overflow-y: scroll !important;
// }

// .ag-theme-material {
//     justify-content: center;
//     align-self: center;
//     color: white;

//     .ag-row {
//         vertical-align: middle;
//         text-align: center;

//         &:hover {
//             flood-opacity: 0%;
//             border: 1px solid white;
//         }
//     }

//     .ag-cell {
//         /* use theme parameters where possible */
//         background: $TABLE_ROW_DARK;
//         color: white;

//     }

//     .ag-row-odd {
//         /* use theme parameters where possible */
//         background-color: $TABLE_ROW_LIGHT;
//     }

// }
@import "../../..//global.scss";
@import "~antd/dist/antd.css";

.ag-theme-material {
    font-size: 12px !important;
    color: #ffffff !important;
    .ag-cell {
        line-height: 30px !important;
        color: #ffffff !important;
    }
    .ag-header-cell{
        background-color: $TABLE_ROW_LIGHT !important;
        color: #ffffff !important;
    }   
}
.alert-grid-row {
    border: none !important;
}

.my-shaded-effect {
    background-color: red;
}

.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #dfdfff !important;
}
.ag-grid-row-light {
    background-color: $TABLE_ROW_LIGHT !important;
}
.ag-grid-row-dark {
    background-color: $TABLE_ROW_DARK !important;
}

.ag-paging-panel{
    background-color: $APP_BACKGROUND !important;
    color: #ffffff !important;
}
// $TABLE_ROW_LIGHT: #3C4473;
// $TABLE_ROW_DARK:#2D3456;
//ag-paging-panel ag-unselectable
