.container-fluid.two-analyser {
      background: #2B3254 0% 0% no-repeat padding-box;
      padding: 16px;
      border-radius: 2px;
      opacity: 1;
      margin: 0 auto;
      width: 95%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .grid-one {
            width: 100%;
            height: 292px;
            background: transparent linear-gradient(180deg, #00000033 0%, #4D242233 100%) 0% 0% no-repeat padding-box;
            border-radius: 0px 0px 2px 2px;
            opacity: 1;
            margin-bottom: 2em;
      }

      .grid-two {
            width: 100%;
            height: 292px;
            background: transparent linear-gradient(180deg, #00000033 0%, #4D242233 100%) 0% 0% no-repeat padding-box;
            border-radius: 0px 0px 2px 2px;
            opacity: 1;
      }

}