@import "../../../../../global.scss";

.voltage-difference-stats-container{
  // display: 'flex', justifyContent: 'center', maxHeight: "15%" 
  display: flex;
  justify-content: center;
  max-height: 15%;
  padding-bottom: 16px;

    .voltage-difference-text {
        color: $ACTIVE !important;
    }

}
