@import "../../global.scss";
@import "~antd/dist/antd.css";

.ant-layout-header {
  background-color: $NAV_BAR_BACKGROUND !important;
  height: $TOP_HEADER_HEIGHT;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  .header-icon {
    margin-left: 15px;
  }
  .header-avatar {
    background-color: #acb4e0;
    vertical-align: middle;
    margin-left: 15px;
    cursor: pointer;
  }
  .header-avatar-menu {
    position: relative;
    .sign-out {
      position: absolute;
      top: 46px;
      right: 12px;
      background: #1b1e27;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      color: white;
      height: 27px;
      width: 74px;
      white-space: nowrap;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      cursor: pointer;
    }
  }
  .header-logo {
    position: absolute;
    left: 122px;
  }
}
