@import "../../global.scss";
@import "~antd/dist/antd.css";

.ant-layout-header {
  background-color: $NAV_BAR_BACKGROUND !important;
  height: $TOP_HEADER_HEIGHT;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  .header-icon {
    margin-left: 15px;
  }
  .header-avatar {
    background-color: #acb4e0;
    vertical-align: middle;
    margin-left: 15px;
    cursor: pointer;
  }
  .header-logo {
    position: absolute;
    left: 122px;
  }
}
//signout tooltip
.ant-tooltip-inner {
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
